.button{
    border:none;
    color:white;
    padding:15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
   
}
.primary{
    background-color:#54679A;
}
.secondary{
    color:#fff;
    background-color:aqua;
    font-size: 24px;
}
.success{
    background-color: green;
}
.danger{
    background-color: red;
}