footer {
  background: black;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer_div {
  display: block;
  text-align: center;
  width: 400px;
  padding:16px
}

.logoText {
  color: #fff;
  padding: 24px;
}

.summary_text{
  color:#fff;
}